@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'Digital-7';
    src: url('../../assets/fonts/digital-7/digital-7(mono).ttf');
}
@font-face {
    font-family: 'Digital-7';
    src: url('../../assets/fonts/digital-7/digital-7(monoItalic).ttf');
}
@font-face {
    font-family: 'Digital-7';
    src: url('../../assets/fonts/digital-7/digital-7(italic).ttf');
}
@font-face {
    font-family: 'Digital-7';
    src: url('../../assets/fonts/digital-7/digital-7.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Digital-7', Orbitron, sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #fff;
}
